.section-feature {
  padding-top: 94px;
}

.icon-feature {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--button-background-color);
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.desc {
  max-width: 270px;
}

.desc:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.feature-list .text {
  line-height: 1.71;
  color: var(--paragraph-color);
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
