.hat {
  display: flex;
  align-items: center;
}

.nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  @include transit(color $when $how);
  margin-bottom: -1px;

  &.current::after {
    content: "";
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.site {
  & .item:not(:last-child) {
    margin-right: 40px;
  }

  & .link {
    color: var(--main-text-color);
  }

  & .link.current {
    color: var(--button-hover-color);
    position: relative;
  }

  & .link:hover,
  & .link:focus {
    color: var(--button-hover-color);
  }
}

.auth {
  margin-left: auto;
  align-items: center;

  & .nav {
    display: flex;
    align-items: center;
  }

  & .item:not(:last-child) {
    margin-right: 50px;
  }

  & .link {
    color: var(--paragraph-color);

    &:hover,
    &:focus {
      color: var(--button-hover-color);
    }
  }
}

.icons-contact:hover .icons-header,
.icons-contact:focus .icons-header {
  fill: var(--button-hover-color);
}

.icons-header {
  fill: var(--paragraph-color);
  margin-right: 10px;
  @include transit(fill $when $how);
}
